.product {
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  padding: 20px;
  transition: 1s;
}
.product:hover {
  transform: scale(1.02);
  box-shadow: 2px 5px 4px 3px grey;
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
  margin-top: 40px;
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
}
.product__price {
  margin-top: 5px;
}
.product > button {
  background: #f0c14b;
  border: 2px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  transition: 0.3s;
}

.product > button:hover {
  color: #f0c14b;
  background-color: black;
  cursor: pointer;
  transform: scale(1.03);
}
.product__rating {
  display: flex;
}
